:root {
  --firs-logo-color: #2196f3;
  --second-logo-color-header: #000000;
  --second-logo-color-footer: #ffffff;
  --navigation-color-first: #212121;
  --navigation-color-act: #2196f3;
  --text-title-color: #212121;
  --hero-txt-color: #ffffff;
  --hero-footer-background: #2f303a;
  --text-color-p: #757575;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-right {
  display: flex;
  margin-left: auto;
}
.header .container {
  display: flex;
  align-items: center;
}
.logo-header {
  display: block;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 71px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--second-logo-color);
}

.half-logo-text {
  color: var(--firs-logo-color);
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--navigation-color-first);
}

.header-link:hover,
.header-link:focus {
  color: var(--navigation-color-act);
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--navigation-color-act);
}
/* hero */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero {
  background-color: var(--hero-footer-background);
  color: var(--hero-txt-color);
  flex-grow: 1;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-txt-color);
  background-color: var(--navigation-color-act);
}
.hero-btn:hover,
.hero-btn:hover {
  background-color: var(--navigation-color-act);
}
/* features */
.features-list {
  flex-basis: ;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  margin-bottom: 10px;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-color);
}
.features-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-p);
}
.activity-title {
  text-align: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
.activity-list {
  display: flex;
}
.img-item:not(:last-child) {
  display: block;
  margin-right: 30px;
}
/* team */
.team-section {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-item {
  margin-right: 30px;
}
.team-title {
  text-align: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
.team-title-name {
  text-align: center;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
.team-title-p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-p);
}
.footer-section {
  background-color: var(--hero-footer-background);
}
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hero-txt-color);
}
.half-logo-text {
  color: var(--firs-logo-color);
}
.footer-adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-txt-color);
}
.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--navigation-color-act);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--navigation-color-act);
}
/* portfolio page2*/

.filter-btn {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--hero-txt-color);
  background-color: var(--navigation-color-act);
}
.prodjects-boxes-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-title-color);
}
.prodjects-boxes-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-p);
}
